
  /* .toggle-button-cover {
    display: table-cell;
    position: relative;
    box-sizing: border-box;
  } */
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 36%;
    width: 100px;
    height: 30px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }



/* Button select_personal_publicity_button */

/* #select_personal_publicity_button .knobs:before {
    content: "YES";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  } */
  
  #select_personal_publicity_button .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #select_personal_publicity_button .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #select_personal_publicity_button .checkbox:checked + .knobs:before {
    content: "NO";
    left: 42px;
    background-color: #f44336;
  }
  
  #select_personal_publicity_button .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  



/* Button upload_personal_publicity_button */

#upload_personal_publicity_button .knobs:before {
    content: "YES";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #upload_personal_publicity_button .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #upload_personal_publicity_button .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #upload_personal_publicity_button .checkbox:checked + .knobs:before {
    content: "NO";
    left: 42px;
    background-color: #f44336;
  }
  
  #upload_personal_publicity_button .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  